.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 80px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.social {
  width: 20%;
  height: 80px;
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
}
.fa-instagram {
  border-right: 1px solid black;
  padding-right: 20px;
}
.instagram-title {
  font-family: "Satisfy", cursive;
  justify-content: flex-start;
  margin: 0;
  width: 20%;
  padding-left: 10px;
}
